## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio cache/options
.vsconfig
*.VC.db
*.VC.VC.opendb
*.cache
*.vsidx

## NuGet
packages/
*.nupkg
project.lock.json
project.assets.json

## Test results
TestResults/
*.trx

## OS files
Thumbs.db
Desktop.ini
.DS_Store
